.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: rgb(38, 214, 38);
  text-transform: uppercase;
}

.poke-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.5rem;
  width: 160px;
  height: 180px;
  border: 1.5px solid lightgreen;
  border-radius: 10px;
  margin: 0.2rem;
}

.card img {
  width: 120px;
  height: 120px;
  padding-top: 1rem;
}

.id {
  padding-top: 2rem;
  font-weight: 700;
}

.type {
  margin-bottom: 2rem;
}

.name {
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: 0;
}

button {
  margin-top: 2rem;
  background-color: rgb(79, 207, 79);
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 10px;
  height: 30px;
  width: 90px;
}

button:hover {
  color: rgb(79, 207, 79);
  background-color: white;
  border: 1.5px solid rgb(79, 207, 79);
}
