.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  border-radius: 20px;
  color: rgb(79, 207, 79);
  border: 2.5px solid rgb(79, 207, 79);
  width: 10rem;
  padding: 0.2rem 0.6rem;
}

.results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
  margin: 0;
  padding: 3rem;
  border-radius: 20px;
  border: 3px solid rgb(79, 207, 79);
}

.results img {
  height: 120px;
}

.display-results {
  margin-top: 2rem;
}
